.filter-wrapper {
  margin-bottom: var(--size-4);
}

.filter-buttons {
  border: var(--border-size-2) solid var(--gray-10);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-left: auto;
  padding: var(--size-1);

  &:hover {
    box-shadow: 4px 4px 0px 0px var(--yellow-5);
  }
}

.filter-wrapper button {
  border: none;
  display: flex;
  justify-content: center;
}

.movies-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--size-4);
}
